In [1]:
import json
import pandas as pd
import numpy as np
import re

In [2]:
file_dir = '/Users/Miles/Desktop/Berkeley_Camp/Movies-ETL/'

In [3]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [5]:
wiki_movies_raw[3002:3005]

[{'url': 'https://en.wikipedia.org/wiki/In_the_Bedroom',
  'year': 2001,
  'imdb_link': 'https://www.imdb.com/title/tt0247425/',
  'title': 'In the Bedroom',
  'Directed by': 'Todd Field',
  'Produced by': ['Todd Field', 'Ross Katz', 'Graham Leader'],
  'Screenplay by': ['Todd Field', 'Robert Festinger'],
  'Based on': ['"', 'Killings', '"', 'by', 'Andre Dubus'],
  'Starring': ['Sissy Spacek', 'Tom Wilkinson', 'Nick Stahl', 'Marisa Tomei'],
  'Music by': 'Thomas Newman',
  'Cinematography': 'Antonio Calvache',
  'Edited by': 'Frank Reynolds',
  'Productioncompany ': ['Good Machine',
   'Eastern Standard Film Company',
   'GreeneStreet Films'],
  'Distributed by': 'Miramax Films',
  'Release date': ['November 23, 2001', '(', '2001-11-23', ')'],
  'Running time': '131 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$1.7 million',
  'Box office': '$43.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Jay_and_Silent_Bob_Strike_Back',
  'year': 2001,
  'imdb_link': 'https://www.imdb.com/title/tt0261392/',
  'title': 'Jay and Silent Bob Strike Back',
  'Directed by': 'Kevin Smith',
  'Produced by': 'Scott Mosier',
  'Written by': 'Kevin Smith',
  'Starring': ['Jason Mewes',
   'Kevin Smith',
   'Ben Affleck',
   'Eliza Dushku',
   'Shannon Elizabeth',
   'Will Ferrell',
   'Ali Larter',
   'Jason Lee',
   'Chris Rock',
   'Jennifer Schwalbach Smith'],
  'Music by': 'James L. Venable',
  'Cinematography': 'Jamie Anderson',
  'Edited by': ['Scott Mosier', 'Kevin Smith'],
  'Productioncompanies ': ['Dimension Films', 'View Askew Productions'],
  'Distributed by': 'Miramax Films',
  'Release date': ['August 24, 2001', '(', '2001-08-24', ')'],
  'Running time': '104 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$22 million',
  'Box office': '$33.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Jeepers_Creepers_(2001_film)',
  'year': 2001,
  'imdb_link': 'https://www.imdb.com/title/tt0263488/',
  'title': 'Jeepers Creepers',
  'Directed by': 'Victor Salva',
  'Produced by': ['Tom Luse', 'Barry Opper'],
  'Written by': 'Victor Salva',
  'Starring': ['Gina Philips',
   'Justin Long',
   'Jonathan Breck',
   'Eileen Brennan'],
  'Music by': 'Bennett Salvay',
  'Cinematography': 'Don E. FauntLeRoy',
  'Edited by': 'Ed Marx',
  'Productioncompany ': 'American Zoetrope',
  'Distributed by': 'United Artists',
  'Release date': ['August 31, 2001', '(', '2001-08-31', ')'],
  'Running time': '91 minutes',
  'Country': ['United States', '[1]', 'Germany', '[1]'],
  'Language': 'English',
  'Budget': '$10 million',
  'Box office': '$59.2 million'}]

In [6]:
kaggle_meta_data = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [7]:
kaggle_meta_data.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29999,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,170277,tt0052343,en,Up the Creek,Bumbling navy officer Lieutenant Humphrey Fair...,...,1958-05-13,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest belly laugh of them all.,Up the Creek,False,6.0,1.0
25934,False,"{'id': 113589, 'name': 'The Hire', 'poster_pat...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,38190,tt0340398,en,The Hire: Ticker,"The Driver drives a wounded diplomat, who carr...",...,2002-01-01,0.0,11.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Hire: Ticker,False,6.1,17.0
32299,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,71665,tt1150938,es,Divina Confusión,The Greek Olimpian Gods engage in the human li...,...,2008-09-26,0.0,0.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Divina Confusión,False,4.3,2.0
9622,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,17657,tt0063121,en,Ice Station Zebra,A top-secret Soviet spy satellite -- using sto...,...,1968-10-23,0.0,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American nuclear sub.. a sky full of Russia...,Ice Station Zebra,False,6.2,51.0
25759,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,125891,tt0027796,sv,Intermezzo,The world famous violinist Holger Brandt comes...,...,1936-11-16,0.0,93.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Intermezzo,False,5.5,3.0

In [8]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
wiki_movies_df.columns.to_list()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [10]:
wiki_movies = [movie for movie in wiki_movies_raw
    if ('Director' in movie or 'Directed by' in movie)
               and 'imdb_link' in movie
              and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [11]:
wiki_df = pd.DataFrame(wiki_movies)
wiki_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def clean_movie(movie):
    movies = dict(movie) # create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
        if len(alt_titles) > 0:
            movie['alt_titles'] = alt_titles
            
    # Merge column names        
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
            
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Founders', 'Founded')
    change_column_name('Founder', 'Founded')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editors')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    
    return movie

In [13]:
sorted(wiki_movies_df.columns.to_list())

['Actor control',
 'Adaptation by',
 'Alias',
 'Alma mater',
 'Also known as',
 'Animation by',
 'Arabic',
 'Area',
 'Area served',
 'Artist(s)',
 'Attraction type',
 'Audio format',
 'Author',
 'Based on',
 'Biographical data',
 'Bopomofo',
 'Born',
 'Box office',
 'Budget',
 'Camera setup',
 'Cantonese',
 'Characters',
 'Children',
 'Chinese',
 'Cinematography',
 'Closing date',
 'Color process',
 'Comics',
 'Composer(s)',
 'Coordinates',
 'Country',
 'Country of origin',
 'Cover artist',
 'Created by',
 'Date premiered',
 'Designer(s)',
 'Developed by',
 'Developer(s)',
 'Dewey Decimal',
 'Died',
 'Directed by',
 'Director',
 'Distributed by',
 'Distributor',
 'Divisions',
 'Duration',
 'Edited by',
 'Editor(s)',
 'Ending theme',
 'Engine',
 'Engine(s)',
 'Executive producer(s)',
 'Family',
 'Fate',
 'Film(s)',
 'Followed by',
 'Format(s)',
 'Formerly',
 'Founded',
 'Founder',
 'Founders',
 'French',
 'Full name',
 'Gender',
 'Genre',
 'Genre(s)',
 'Genres',
 'Gwoyeu Romatzyh',
 'Hangul',
 'Hanyu Pinyin',
 'Headquarters',
 'Hebrew',
 'Height',
 'Hepburn',
 'Hokkien POJ',
 'IPA',
 'ISBN',
 'Illustrator',
 'Industry',
 'Instruments',
 'Japanese',
 'Jyutping',
 'Key people',
 'LC Class',
 'Label',
 'Labels',
 'Language',
 'Length',
 'Literal meaning',
 'Literally',
 'Mandarin',
 'McCune–Reischauer',
 'Media type',
 'Mode(s)',
 'Music',
 'Music by',
 'Name',
 'Narrated by',
 'Nationality',
 'No. of episodes',
 'No. of seasons',
 'Novel(s)',
 'Number of employees',
 'OCLC',
 'Occupation',
 'Opening date',
 'Opening theme',
 'Operating income',
 'Original language',
 'Original language(s)',
 'Original network',
 'Original release',
 'Original title',
 'Original work',
 'Other names',
 'Owner',
 'Pages',
 'Parent',
 'Parent(s)',
 'Picture format',
 'Place premiered',
 'Platform(s)',
 'Polish',
 'Portrayed by',
 'Preceded by',
 'Predecessor',
 'Produced by',
 'Producer',
 'Producer(s)',
 'Production company',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Products',
 'Programmer(s)',
 'Publication date',
 'Published',
 'Published in English',
 'Publisher',
 'Publisher(s)',
 'Recorded',
 'Relatives',
 'Release',
 'Release date',
 'Release(s)',
 'Released',
 'Replaced',
 'Replaced by',
 'Resting place',
 'Revenue',
 'Revised Romanization',
 'Romanized',
 'Running time',
 'Russian',
 'Screen story by',
 'Screenplay by',
 'Seasons',
 'Series',
 'Services',
 'Set in',
 'Setting',
 'Simplified',
 'Simplified Chinese',
 'Species',
 'Spouse(s)',
 'Starring',
 'Status',
 'Story by',
 'Subject',
 'Subsidiaries',
 'Suggested by',
 'Television series',
 'Text',
 'Theme music composer',
 'Total assets',
 'Traditional',
 'Traditional Chinese',
 'Transcriptions',
 'Type',
 'Venue',
 'Voices of',
 'Wade–Giles',
 'Website',
 'Writer(s)',
 'Written by',
 'Yale Romanization',
 'Years active',
 'Yiddish',
 'imdb_link',
 'title',
 'url',
 'year']

In [14]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [15]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.to_list())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Editors',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [16]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

7076
7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [17]:
print(wiki_movies_df.isnull().sum())

url                          0
year                         0
imdb_link                    0
title                        1
Based on                  4852
Starring                   184
Narrated by               6752
Cinematography             691
Release date                32
Running time               139
Country                    236
Language                   244
Budget                    2295
Box office                1548
Director                     0
Distributor                357
Editors                    694
Composer(s)                518
Producer(s)                202
Production company(s)     1678
Writer(s)                  199
Genre                     6923
Original language(s)      6875
Editor(s)                 6887
Original network          6908
Executive producer(s)     6936
Production location(s)    6986
Picture format            6969
Audio format              6972
Voices of                 7031
Followed by               7024
Created by                7023
Preceded by               7023
Suggested by              7032
alt_titles                7012
Recorded                  7031
Venue                     7032
Label                     7031
Animation by              7031
Color process             7032
imdb_id                      0
dtype: int64

In [18]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep] 
wiki_movies_df.head()

,url,year,imdb_link,title,Based on,Starring,Cinematography,Release date,Running time,Country,...,Budget,Box office,Director,Distributor,Editors,Composer(s),Producer(s),Production company(s),Writer(s),imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,United States,...,$20 million,$21.4 million,Renny Harlin,20th Century Fox,Michael Tronick,"[Cliff Eidelman, Yello]","[Steve Perry, Joel Silver]",Silver Pictures,"[David Arnott, James Cappe]",tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,United States,...,$6 million,$2.7 million,James Foley,Avenue Pictures,Howard E. Smith,Maurice Jarre,"[Ric Kidney, Robert Redlin]",Avenue Pictures,"[James Foley, Robert Redlin]",tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,United States,...,$35 million,"$57,718,089",Roger Spottiswoode,TriStar Pictures,"[John Bloom, Lois Freeman-Fox]",Charles Gross,Daniel Melnick,"[Carolco Pictures, IndieProd Company]","[John Eskow, Richard Rush]",tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,United States,...,$12 million,"$7,331,647",Woody Allen,Orion Pictures,Susan E. Morse,NaN,Robert Greenhut,NaN,Woody Allen,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,"December 19, 1990",95 minutes,US,...,$25 million,"$6,939,946 (USA)",John Cornell,Paramount Pictures,David Stiven,Maurice Jarre,John Cornell,NaN,Paul Hogan,tt0099018

In [19]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editors                  object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [20]:
box_office = wiki_movies_df['Box office'].dropna()
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [21]:
def is_not_a_string(x):
    return type(x) != str
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [22]:
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [23]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)
box_office.sample(40)

2322                  $103.9 million
3119                  $273.1 million
6015                   $62.7 million
3556                   $16.9 million
5625                      $1,296,937
6790                   $62.8 million
1083                  $189.8 million
3883                   $85.1 million
6921                  $104.4 million
558                    $50.7 million
5747                  $251.2 million
2854                     $75 million
3627                      $2,009,087
3175                      $1,250,798
4954                   $53.9 million
6319                   $10.1 million
2282                   $49.8 million
6176                    $128 million
2159                     $56 million
2436                   $90.7 million
2915                  $577.4 million
888                     $7.3 million
4058                   $14.7 million
4692                   $44.7 million
5687                   $13.1 million
6915                   $65.9 million
5351                        $623,292
4019                  $326.5 million
5349                      $3 million
3246                        $280,351
1256         $7.5 million (domestic)
6878              $290.5 million [5]
1171                     $17,725,500
4390                         $81,338
6157                     $24 million
3279    $2,294,823 (Foreign) [1] [2]
4713                   $41.6 million
3447                    $6.6 million
6806                        $992,181
6946                   $75.8 million
Name: Box office, dtype: object

In [24]:
form_one = r'\$\d+\.?\d*\s*[mb]illi?on'
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3898

In [25]:
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1559

In [26]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [27]:
box_office[~matches_form_one & ~matches_form_two]

110                 $4.35-4.37 million
600                         $5000 (US)
1070                        35,254,617
1480                        £3 million
1865                      ¥1.1 billion
2032                               N/A
2091                              $309
2130             US$ 171.8 million [9]
2665       926,423 admissions (France)
2697    $ 1.7 million (US) (sub-total)
3088         $32 [2] –33.1 million [1]
3631                               TBA
3859                $38.9–40.3 million
3879          CN¥3.650 million (China)
4116                        £7,385,434
4261                $20.7–23.9 million
4306                            $20-30
4561           $45.2k (only in Turkey)
4662              USD$ 8.2 million [2]
5362                 $ 142 million [3]
5447                             £2.56
5784                          413 733$
6013                           Unknown
6145                $17.5–18.4 million
6234                $41.8–41.9 million
6369                             $111k
6370                              $588
6593                    less than $372
6829                  $ 41 million [3]
6843                           8 crore
Name: Box office, dtype: object

In [28]:
box_office = box_office.replace(r'\$.*[-–](?![a-z])','$', regex=True)

In [29]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [34]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=IGNORECASE):
        
        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        
        # convert to float and multiply by a million
        value = float(s) * 10**6
        
        # return value
        return value
    
    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        
        # convert to float and multiply by a billion
        value = float(s) * 10 **9
        
        # return value
        return value
    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
        
        # remove dollar sign and commas
        s = re.sub('\$|,','', s)
        # convert to float
        value = float(s)
        
        # return value
        return value
    
    # otherwise, return NaN
    else:
        return np.nan

In [37]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['box_office']

0       21400000.0
1        2700000.0
2       57718089.0
3        7331647.0
4        6939946.0
           ...
7071    41900000.0
7072    76100000.0
7073    38400000.0
7074     5500000.0
7075           NaN
Name: box_office, Length: 7033, dtype: float64

In [39]:
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [41]:
# drop null values
budget = wiki_movies_df['Budget'].dropna()

In [42]:
# Convert any list to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [43]:
# Remove any values between $ and hyphen
budget = budget.str.replace(r'\$.*[-—–](?![a-z])','$', regex=True)

In [44]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

135                              USD$ 9 million
136                                     Unknown
204                 60 million Norwegian Kroner
351                          US$ 65 million [1]
372                               US$ 5 million
400                              US$ 24 million
478                                     Unknown
542                                $ 30 million
705                            $ 70 million [1]
973                         $34 [3] [4] million
1126                           $120 [4] million
1226                                    Unknown
1278                                        HBO
1374                                 £6,000,000
1397                                 13 million
1480                               £2.8 million
1734                               CAD2,000,000
1913                 PHP 85 million (estimated)
1948                                102,888,900
1953                               3,500,000 DM
1973                                 ₤2,300,874
2257                              US$ 1 million
2281                                 $14 milion
2411                           $ 38 million [1]
2427    CAD$ 31 million ( USD$ 15 million [2] )
2451                                 ₤6,350,000
2499                           $ 25 million [1]
2697                         $ 3 million (est.)
2970                          $ 115 million [2]
3144                               € 40 million
3159                             US$ 30 million
3360                           $150 [6] million
3418                                    $218.32
3802                               £4.2 million
3879           CN¥156 million ( US$ 20 million)
3906                                        N/A
3959                                760,000 USD
3999     € 1 million (approx. USD$ 1.3 million)
4469                             US$ 10 million
4470                                   19 crore
4641                                £17 million
4970       € 49 million [4] ( $ 70 million) [5]
5034                          $$200 [4] million
5055                       $155 [2] [3] million
5362                           $ 56 million [2]
5419                            $40 [4] million
5424                                        N/A
5447                                 £4 million
5512                                $ 6 million
5640                         US$ 32 million [1]
5671                                €14 million
5687                               $ dead link]
6385                           £ 12 million [3]
6443                    US$ 105 million [6] [7]
6456                         US$ 36 million [3]
6593                                 £3 million
6821                              £12.9 million
6843                                  3.5 crore
6895                                    919,000
7070                               €4.3 million
Name: Budget, dtype: object

In [47]:
# Remove citation references
budget = budget.str.replace(r'\[\d+\]\s*','')
budget[~matches_form_one & ~matches_form_two]

60

In [48]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [49]:
wiki_movies_df.drop('budget', axis=1, inplace=True)

In [51]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [52]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [54]:
release_date.str.extract(f'({date_form_one}| {date_form_two}|{date_form_three}|{date_form_four})',flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073               2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [55]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [60]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x) 
running_time.sample(50)

3374                     90 minutes
2460                    101 minutes
2943                    112 minutes
4395                    105 minutes
1543                    101 minutes
4260                    113 minutes
4826                    111 minutes
2457                     87 minutes
4672                    105 minutes
905                      98 minutes
1226                     95 minutes
6291                    149 minutes
4276    93 minutes (theatrical) [1]
6234                     93 minutes
2447                     89 minutes
2056                    108 minutes
1969                    137 minutes
4257                    103 minutes
4878                     90 minutes
4055                     86 minutes
4986                     89 minutes
3056                     95 minutes
6024                     87 minutes
790                     120 minutes
115                     115 minutes
5152                     86 minutes
4910                    106 minutes
5189                    112 minutes
538                     110 minutes
2947                    105 minutes
1538                    120 minutes
2369                     90 minutes
1206                    106 minutes
2672                     95 minutes
5671                    113 minutes
5495                     70 minutes
7022                     93 minutes
1202                    123 minutes
1909                    103 minutes
3128                     96 minutes
2916                        92 min.
1322                    112 minutes
4633                     85 minutes
4126                     94 minutes
5614                    132 minutes
979                      70 minutes
1008                     85 minutes
823                     188 minutes
3337                    110 minutes
6015                     91 minutes
Name: Running time, dtype: object

In [57]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

6528

In [62]:
running_time[running_time.str.contains(r'^\d*\s*minutes$',flags=re.IGNORECASE) != True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [65]:
running_time.str.contains(r'^\d*\s*m',flags=re.IGNORECASE).sum()

6877

In [67]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

'UK:84 min (DVD version) US:86 min78-102 min (depending on cut)Varies (79 [3] –84 [1] minutes)25 : 03United States: 77 minutes Argentina: 94 minutes Germany: 94 minutes (DVD version)1hr 35minvariesNetherlands:96 min, Canada:95 minapprox. 14 min1 h 43 min1h 48m4 hoursUS domestic version: 86 minutes Original version: 99 minutesTheatrical cut: 97 minutes Unrated cut: 107 minutes115 [1] /123 [2] /128 [3] minutes1 hour 32 minutesVariable; 90 minutes for default path'

In [68]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [69]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors= 'coerce')).fillna(0)

In [70]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [73]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

NameError: name 'kaggle_metadata' is not defined